.background-container {
    background-image: url("	https://rubixe.com/img/blog.jpg");
    height: 50vh;
    background-size: cover;
}

.image {
    height: 60px;
    width: 100px;
}


.fotter {
    background-color: black;
    color: white;
}
.blog-one .blog-one-body {
    padding: 30px 25px 0 25px;
    background: transparent;
    margin-top: -25px;
    float: left;
    width: 100%;
    padding-bottom: 0;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}